<article class="post">

    {{#each posts as |post| }}
        {{> post-info post}}
    {{/each}}

</article>

{{else}}
{{!-- else section which will display only when the list is empty. --}}
<h6 class='pb-5 text center font-italic'>There are currently no posts</h6>

{{/each}}




