<article class="post">

    {{#each posts as |post| }}
        {{> post-info post}}
    {{/each}}
{{#if loggedIn}}
    <button type="submit" class="new-post-button "><a class="new-post-button " href="/dashboard/new">Add New Post</a></button>
    {{/if}}

</article>


